:root {
    --linen:#FFF4E7;
    --primary-font: 'Work Sans', sans-serif;
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
 .container{
    
    /* font-family:var(--primary-font); */
    background-color: var(--linen);
} 


nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: var(--primary-font);
    width: 100%;
    width: 1150px;
    height: 70px;
    margin: 0 auto;
    padding: 0 100px;
    
}
nav > ul {
    display: flex;
    list-style: none;
    gap: 30px;
}
.nav-text-1{
    font-size: 35px;
}
.nav-text-2{
    font-size: 18px;
    font-weight: 500px;
}
/* ......header-section..top-text.......... */
.header-section{
    
    width: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center; 
    gap: 40px;
    
}
.section-text-1{
    font-size: 45px;
    font-family: var(--primary-font);
    font-weight: 700px;
    padding: 10px 0;
    
}
.section-text-2, .banner-text-2{
    font-family: var(--primary-font);
    font-size: 16px;
    font-weight: 400px;
    padding: 10px 0;
}
button{
    background: #FF900E;
    width: 120px;
    height: 44px;
    border-radius: 8px;
    padding: 10px 0;
    border: none;
    
}
.button-text{
    font-size: 15px;
    color:#FFFFFF ;
}

.banner img {
    width: auto;
    height: 500px;
}
/* ........Team-Member....... */

.team-member{
display: grid;
grid-template-columns: repeat(2, 1fr);
justify-content: center;
align-items: center;
gap: 50px;
padding: 70px 120px;

padding: 0 auto;
}
.team{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 15px;
    justify-content:center;
    
    
}
.team div img{
    width: 100%;
}
span {
   color: #FF900E;
}
.banner-text-1{
    font-family: var(--primary-font);
    font-size: 25px;
    font-weight: 500px;
}